:root {
  --black: #212121;
  --green: #09a494;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--black);
}

footer {
  color: var(--white);
  background-color: var(--green);
}

h1 {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 110%;
}

h2 {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 120%;
}

h3 {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
}

button,
a {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.subtitle {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 120%;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  color: var(--black);
}

.main-nav a:hover {
  color: var(--green);
}

button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
  padding: 6px 10px 10px;
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--green);
  background-color: var(--white);
}

button:hover {
  color: var(--white);
  background-color: var(--green);
}

.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.social-link {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px solid var(--green);
  border-radius: 5e7px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-link:hover {
  background-color: var(--green);
}

.social-link_gitHub {
  background-image: url("/img/github.svg");
}

.social-link_gitLab {
  background-image: url("/img/gitlab.svg");
}

.social-link_instagram {
  background-image: url("/img/instagram.svg");
}

.social-link_telegram {
  background-image: url("/img/telegram.svg");
}

.social-link_vk {
  background-image: url("/img/vk.svg");
}

.contact {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact li {
  display: inline-block;
}

.contact-link {
  padding: 20px 42px;
  background-repeat: no-repeat;
  background-position: left;
}

.contact-link a {
  display: block;
  text-decoration: none;
  color: var(--black);
}

.contact-link a:hover {
  color: var(--green);
}

.contact-link_phone {
  background-image: url("/img/phone.svg");
}

.contact-link_mail {
  background-image: url("/img/email.svg");
}

.user-photo {
  border-radius: 50%;
}

.skill-list {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.skill-list dt {
  margin-bottom: 6px;
  padding: 5px 0 5px 38px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 30px;
}

.skill-level {
  margin: 4px 0 16px;
  padding: 2px;
  font-size: 0;
  border: 1px solid var(--black);
  border-radius: 16px;
}

.skill-level div {
  height: 14px;
  background-color: var(--green);
  border-radius: 8px;
}

.skill-item {
  text-transform: lowercase;
}

.skill-item_html {
  background-image: url("/img/skills/html.svg");
}

.skill-item_css {
  background-image: url("/img/skills/css.svg");
}

.skill-item_python {
  background-image: url("/img/skills/python.svg");
}

.skill-item_cpp {
  background-image: url("/img/skills/c++.svg");
}